body {
    font-family     : Verdana, Geneva, Tahoma, sans-serif;
    font-size       : 1em;
    background-color: hsl(0, 10%, 90%);
}

// COUNTER PROGRAM
// #countLabel {
//     display    : block;
//     text-align : center;
//     font-size  : 10em;
//     font-family: Helvetica, sans-serif;
// }

// #btnContainer {
//     text-align: center;

//     .buttons {
//         padding         : 10px 20px;
//         font-size       : 1.5em;
//         color           : white;
//         background-color: hsl(207, 70%, 41%);
//         border-radius   : 5px;
//         cursor          : pointer;
//         transition      : background-color 0.25s;

//         &:hover {
//             background-color: hsl(186, 87%, 70%);
//         }
//     }
// }
//<!-- -------------------------------------------------------------------- -->

// RANDOM NUMBER
// #myButton {
//     font-size    : 3em;
//     padding      : 5px 25px;
//     border-radius: 5px;
// }

// .labels {
//     display        : flex;
//     gap            : 20px;
//     justify-content: center;

//     .myLabels {
//         font-size: 3em;
//     }
// }
//<!-- -------------------------------------------------------------------- -->

// CHECKED PROPERTY

// #mySubmit {
//     font-size: 1em;
// }
//<!-- -------------------------------------------------------------------- -->

// TEMPERATURE CONVERSION PROGRAM

// form {
//     background-color: hsl(0, 0%, 100%);
//     text-align      : center;
//     max-width       : 350px;
//     margin          : auto;
//     padding         : 25px;
//     border-radius   : 10px;
//     box-shadow      : 5px 5px 15px hsl(0, 0%, 46%);

//     h1 {
//         color: hsl(240, 98%, 44%);
//     }

//     #tetxBox {
//         width        : 50%;
//         text-align   : center;
//         font-size    : 2em;
//         border       : 2px solid hsl(0, 2%, 35%);
//         border-radius: 2px;
//         margin-bottom: 15px;
//     }

//     label {
//         font-size  : 1.5em;
//         font-weight: bold;
//     }

//     button {
//         margin-top      : 15px;
//         background-color: hsl(0, 91%, 50%);
//         font-size       : 1.5em;
//         border          : none;
//         padding         : 10px 15px;
//         border-radius   : 5px;
//         color           : white;
//         cursor          : pointer;

//         &:hover {
//             background-color: hsl(12, 100%, 50%);
//         }
//     }

//     #result {
//         font-size  : 1.75em;
//         font-weight: bold;
//     }
// }